* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $raleway, $poppins;
	font-size: $standard-size;
}

a {
	cursor: pointer;
	display: block;
	color: $black;
	text-decoration: none;
	@include pointer-events {
		color: $react-aqua;
		text-decoration: none;
	}
}
