// Color palette
$react-aqua: #00bfff;
$basic-blue: blue;

$basic-yellow: yellow;

$opera-red: #d63131;
$basic-red: red;

$white: #fff;
$darken-white: #d5d9dc;
$light-white: #eee;
$light-gray: #f0f0f0;
$darken-gray: #efefef;
$light-gray-mobile: #ccc;

$light-dark: #343a40;
$dark: #272727;
$black: #000;

// Fonts
// Font types
$poppins: "Poppins", sans-serif;
$raleway: "Raleway", sans-serif;
$londrina-outline: "Londrina Outline", cursive;

// Font weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semiBold-weight: 600;
$bold-weight: 700;

// Font sizes
$small-size: 12px;
$smaller-size: 14px;
$standard-size: 16px;
$bigger-size: 18px;
$big-size: 20px;

$img-dir: "../images/";
