#homepage.Header {
	// height: 100%;

	.Shift {
		top: 27%;
	}
}

#textWrapper p > code {
	color: $blue;
}

#textWrapper p + p {
	padding-left: 20px;
	padding-right: 20px;
}

#textWrapper p + p > q {
	color: $orange;
}
