#projects.Header {
    height: 480px;

    &-hero {
        padding-top: 20px;
    }

    &-description {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    @media (min-width: 768px) {
        height: 820px;

        &-hero {
            padding-top: 0px;
        }

        &-description {
            margin-top: 60px;
        }
    }
}

.Projects {
    background-image: none;
	background-color: rgba($basic-red, 1);
	@extend %reallocating-backgroundImage;
	color: $white;
	@include flex-container(row, flex-end, center);
	height: 100%;
	width: 100%;

	@media (min-width: 768px) {
	    background-image: url("#{$img-dir}tableMenu.jpeg");
	}
}
